/**
 * Put all of your global css styles here.
 */
.fade-enter {
  opacity: 0.01;
  transition: opacity 0.3s 2s;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity 0.3s 2s;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
